<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/matcss/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/maticons/material-icons.css" /> 
    <link type="text/css" rel="stylesheet" href="/roboto/roboto-fontface.css" />
   <link type="text/css" rel="stylesheet" href="/css/modal.css" />
   
  <script type="text/javascript" src="/matjs/materialize.min.js"></script>
  <script src="/webrtc/adapter.js"></script>
  <script type="text/javascript" src="/jquery/jquery.js"></script>

          

    <title>Видеофон</title>
</head>


